@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-font: "Roboto", serif;
}
html {
  scroll-behavior: smooth;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .img {
  width: 420px;
  height: 532px;
}
.main .p1 {
  color: #251d20;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 1.5rem;
}
.main .link {
  text-decoration: none;
  color: #fff;
  font-family: var(--main-font);
  font-size: 1rem;
  background: transparent;
  font-weight: bold;
  margin-bottom: 1rem;
}

.section-1 .link-1:hover {
  text-decoration: underline;
}
.spans {
  color: #fff;
}
.section-3 .span-3 {
  color: #ff608c;
}
.section-3 .link-3 {
  color: #ff608c;
}

body {
  background: white;
  transition: background 1.3s;
}
#test {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  margin-top: 2rem;
  top: 20px;
}
nav h1 {
  font-size: 2rem;
  letter-spacing: 2;
  margin-left: 2rem;
}
nav a {
  margin-right: 2rem;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  position: sticky;
  bottom: 15px;
}
footer .container p {
  font-size: 18px;
  margin-bottom: 1rem;
  font-weight: bold;
}
footer .container span {
  font-size: 13px;
}
footer .container a {
  font-size: 1rem;
  color: #000;
}
.links a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  margin-bottom: 10px;
  scroll-behavior: smooth;
}
.links a:hover {
  text-decoration: underline;
}
